.example__wrap {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  padding-bottom: 38px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.example__tittle {
  font-size: 36px;
  font-family: "Oswald";
  color: rgb(17, 17, 17);
  line-height: 1.667;
  font-weight: 200;
  text-align: left;
  padding: 0px;
  margin: 0px;
  margin-bottom: 17px;
}
.example__description {
  margin: 0px;
  margin-bottom: 24px;
  font-size: 14px;
  font-family: "Arial";
  color: rgb(68, 68, 68);
  line-height: 1.286;
  text-align: left;
}
.example__param {

  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 18px;
  padding-bottom: 16px;
  position: relative;
  width: 88px;
  display: flex;
  justify-content: center;
  flex-shrink: 2;
  margin-bottom: 38px;
}
.example__param-value {
  width: 100%;
  font-size: 24px;
  font-family: "Oswald";
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  // -moz-transform: matrix( 0.47198978522556,0,0,0.47990677688766,0,0);
  // -webkit-transform: matrix( 0.47198978522556,0,0,0.47990677688766,0,0);
  // -ms-transform: matrix( 0.47198978522556,0,0,0.47990677688766,0,0);
}
.example__param-name {
  padding-left: 15px;
  padding-right: 15px;
  width: 60px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: -10px;
  z-index: 5;
  text-align: center;
  font-size: 12px;
  font-family: "Arial";
  color: rgb(68, 68, 68);
  line-height: 1;
  left: calc( 50% - 45px );
}
.example__cost {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 14px;
  font-family: "Oswald";
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  line-height: 1.429;
  text-align: center;

}
@media (min-width: 768px) {
  .example__wrap  {
    background-color: white;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: flex-start;
  }
  .example__tittle {
    font-size: 60px;
    font-family: "Oswald";
    color: rgb(17, 17, 17);
    line-height: 1;
    text-align: left;
    margin-bottom: 40px;
  }
  .example__description {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(68, 68, 68);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 55px;
  }
  .example__param {
    margin-right: 42px;
  }
  .example__cost {
    width: auto;
    margin-left: auto;
  }
 .example__param {
   margin-bottom: 0px;
 }
 .example__param-name {
   background-color: white;
 }
 .example {
   position: relative;
 }
 .example::after {
   content: "";
   width: 100%;
   height: 460px;
   background-image: linear-gradient(to right,#f2f2f2 0,#f2f2f2 50%,#e9e9e9 50%,#e9e9e9 100%);
   position: absolute;
   bottom: 0px;
   left: 0px;
   // right: -30px;
 }
}
@media (min-width: 1440px) {
  .example__wrap  {
    width: 610px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 650px;
    padding-bottom: 75px;
    // z-index: 10;
    position: relative;

  }

 .example::after {
   width: 100%;
   // left: calc( (100vw - 1335px ) / -2 ) ;
   z-index: 3;
   background-image: linear-gradient(to right,#f2f2f2 0,#f2f2f2 calc(((100% - 1300px) / 2 ) + 960px),#e9e9e9 calc(((100% - 1300px) / 2 ) + 960px),#e9e9e9 100%);
 }
 .example__tittle,
.example__description,
.example__param,
.example__param,
.example__cost {
  z-index: 5;
}
 .example__param-name {
   background-color: #f2f2f2;
 }
  .example__tittle {
    max-width: 610px;
    font-size: 60px;
    font-family: "Oswald";
    color: rgb(17, 17, 17);
    line-height: 1;
    text-align: left;
    margin-bottom: 145px;
  }
  .example__description {
    max-width: 430px;
    padding-right: 100px;
    font-size: 16px;
    font-family: "Arial";
    color: rgb(68, 68, 68);
    line-height: 1.5;
    text-align: left;
  }

  .example__param {
    margin-right: 42px;
    width: 125px;
  }
  .example__param-value {

  }
  .example__param-name {
    font-size: 12px;
    width: 135px;
    padding-left: 5px;
    padding-right: 5px;
    left: calc( 50% - 72px );
    bottom: -6px;
  }
  .example__cost {
    width: 325px;
    // width: 430px;
    margin: 0px;
    margin-top: 55px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: "Oswald";
    color: rgb(17, 17, 17);
    text-transform: uppercase;
    line-height: 1;

  }



}
